<div class="hero-unit">
  <h1>Bloomberg Projects & Investigations</h1>
  <p>To read some of the most compelling Bloomberg News stories of the year, read through this inaugural Web Editors' Choice collection. Articles in this compilation weren't necessarily selected for their popularity. Nor were they chosen on any arch-scientific basis or with any fine-print methodology. So how were these articles chosen? All the stories here -- and many not here -- are as exquisitely reported as they are well told.</p>


</div>

<div class="articles">

	<% for issue in @issues %>

		<h1><%= link_to issue.title, issue %></h1>
		<p><%= issue.description %></p>
		<hr/>

	<% end %> 

</div>