$linkColor: #f89406;

@import "bootstrap";
body {
	padding-top: 60px;
}
@import 'bootstrap-responsive';
.articles {
	text-align: center;
}
.summary {
	color:gray;
}
.byline {
	color: gray;
	font-weight: normal; 
}