// Variables

$linkColor: #f89406;
@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
$sansFontFamily:        'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
$navbarHeight:                    60px;

// Import Bootstrap

@import "bootstrap";
body {
	padding-top: 80px;
}
@import 'bootstrap-responsive';

// Custom CSS

.navbar-inverse .brand {
  color: white;
}

.issues {
  h2 {
    color: $gray;
  }
}

.issue {
  margin: 40px 0 40px;;
}

.articles {
	text-align: center;
}
.summary {
	color:gray;
}
.byline {
	color: gray;
	font-weight: normal;
}
.footer {
	margin-top: 45px;
	padding-top: 5px;
	border-top: 1px solid $gray;
	color: $gray;
}

@media (max-width: 767px) {
	h1, h2, h3, h4, h5, h6 {
  font-size: 2em !important;
	}

  .hero-unit {
    p {
      line-height: 1.3em;
    }
  }

  .byline {
  font-size: 1.4em !important;
  }

	p {
  font-size: 1em;
  line-height: 1.7em;
    &.lead {
      font-size: 1em;
      line-height: 1.7em;
    }
	}

}
