<div class="footer">   
	These and more articles are available for viewing at http://bloom.bg/ZgyBMA.  This page is intended as a experiment in a better reading experience for long form articles.

	Your comments are welcome.  Please send to sk@susankish.com.
</div>