<div class="footer">
  <p>
    These and more articles are available for viewing at
    <%= link_to "Bloomberg.com", "http://bloom.bg/ZgyBMA" %>. This page is intended as a experiment in a better reading experience for long form articles.
  </p>
  <p>
    Your comments are welcome.  Please email to <%= link_to "Susan Kish", "mailto:sk@susankish.com" %>.
  </p>
  <p>
    <%= link_to "Sign in.", new_user_session_path %>
  </p>
</div>
